<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="https://www.pitsbit.com/assets/img/home/PitsBit-color-UP.png" class="logo-footer">
            </div>
            <div class="col-md-4">
                <ul class="menu-footer">
                    <li>
                        <a>Cambio de aceite a domicilio</a>
                    </li>
                    <li>
                        <a>Servicio de grúa</a>
                    </li>
                    <li>
                        <a>Talleres de confianza</a>
                    </li>
                    <li>
                        <a>Tienda en línea</a>
                    </li>
                    <li>
                        <a>Academia PitsBit</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="title-footer">Copyright © 2020 pitsbit.com
                    Aviso de Privacidad</h4>
                    <p class="p-footer">Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular.</p>
            </div>
        </div>
    </div>
</footer>