.card h4 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-top: -30px;
    width: 100%;
    background: rgba(3, 84, 251,1);
    padding: 5px;
    margin: 15px 0px;
}

.pd{
    padding-top: 30px;
}