
<nav class="navbar navbar-expand-lg navbar-light  header-page ">
    <a class="navbar-brand" routerLink="/">
      <img src="https://www.pitsbit.com/assets/img/PitsBit-color-LEFT.png" class="logo">
    </a>
    <div class="collapse navbar-collapse my-lg-0" id="navbarSupportedContent"> 
    </div>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav content-box ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/location">Ubicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/episodies">Episodios</a>
        </li>
      </ul>
    </div>
  </nav>